:root {
    --highlight-color-1: #009999;
    --highlight-color-2: #1240AB;
    --action-color-1: #C45900;
    --action-color-2: #C00A00;

    --highlight-color-1--text: white;
    --highlight-color-2--text: white;
    --action-color-1--text: white;
    --action-color-2--text: white;
}

:root {
    --background-color: #fbfbfb;

    --highlight-color-1: #2d4671;
    --highlight-color-1: #37557b;
    --highlight-color-2: #615694;
    /*--highlight-color-2: #6d60a5;
    --highlight-color-2: #6253a2; */
    --action-color-1: #dd9e2c;
    --action-color-1: #f1ab2d;
    --action-color-2: #0cb39c;

    --white: #eee;
    --off-white: #e6dfd2;
    --off-white: #e0dcd5;

    --header-line: #7e94b1;
}
